.layer-container{
    width: 100%;
    height: 40rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 30px #A2CFF2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.upload-card-header{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1rem;
}

.upload-card-header span{
    color: #3483E2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layer-name{
    width: 95%;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    box-shadow: 0px 0px 5px #b3b3b3;
    background-color: #ebebeb;
}

.layer-name img{
    margin:0px 0px -8px 10px;
}
.layer-name img:hover{
    height: 1.8rem;
}
#flayer{
    font-family: Poppins;
    width: 87%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    
    background-color: #ebebeb;
    box-sizing: border-box;
    
}

#step-1{
    overflow-y: scroll;
}
#step-1::-webkit-scrollbar{
    width:0px;
    background: #707070;
}

#upload-image{
    margin-top: 1rem;
    border: 2px solid #3483E2;
    border-style: dashed;
    border-radius: 1rem;
    width: 100%;
    height: 7rem;
}

.step-header{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #D8D8D8;
    width: fit-content;
    border-radius: 2rem;
    color: #707070;
    font-weight: bold;
    font-family: Poppins;
}


.steps-container{
    display: grid;
    height: 84%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "step-1 step-2";
    grid-gap: 2rem;
}

#step-1{
    grid-area: step-1;
   
}

#step-2{
    grid-area: step-2;
}

.button-comp{
    width: 100%;
    text-align: right;
}




@media screen and (max-width:960px){
    .steps-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "step-1"
                            "step-2";
    }
   
}